[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = true
name = "torch"

[requires]
python_version = "3.8"

[packages]
"discord.py" = "*"
aioredis = "*"
ajani = {git = "https://github.com/silasary/modbot.git"}
sentry-sdk = "*"
jishaku = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
rope = "*"
pylint = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"

[pipenv]
allow_prereleases = true
