[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = true
name = "torch"

[requires]
python_version = "3.10"

[packages]
dis-snek = {ref = "dev", git = "https://github.com/Discord-Snake-Pit/Dis-Snek.git"}
"molter" = "*"
aioredis = "*"
sentry-sdk = "*"
python-dotenv = "*"
dis-taipan = {git = "https://github.com/silasary/dis-taipan.git"}

[dev-packages]
autopep8 = "*"
rope = "*"
pylint = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"

[pipenv]
allow_prereleases = false

[scripts]
"run" = "python main.py"
